# ----------------------------------------
# Chatwoot Configuration
# ----------------------------------------

# URL for the frontend
CHATWOOT_FRONTEND_URL=http://example.com

# Generate a random secret key
CHATWOOT_SECRET_KEY_BASE=chatwoot-secret-key-base

# DB Config
CHATWOOT_DB_USER=chatwoot_user
CHATWOOT_DB_PASSWORD=chatwoot-db-password

# Valkey Config (Redis)
CHATWOOT_REDIS_PASSWORD=chatwoot-redis-password

# SMTP Config
MAILER_SENDER_EMAIL=support@example.com
SMTP_ADDRESS=smtp.example.com
SMTP_USERNAME=tu_usuario_smtp
SMTP_PASSWORD=tu_password_smtp

# Docker Tags
CHATWOOT_IMAGE=chatwoot/chatwoot:v4.12.1
CHATWOOT_DB_IMAGE=pgvector/pgvector:pg17
CHATWOOT_VALKEY_IMAGE=valkey/valkey:9.0.3
