services:
  # ----------------------------------------------------------------
  # VICTORIA METRICS
  # ----------------------------------------------------------------
  victoria-metrics:
    image: {{ victoriametrics_image }}
    container_name: victoria-metrics
    restart: unless-stopped
    volumes:
      - {{ app_base_dir }}/observability/victoria-data:/victoria-metrics-data
      - {{ app_base_dir }}/observability/victoriametrics-scrape.yml:/etc/victoriametrics/scrape.yml:ro
    command:
      - '--storageDataPath=/victoria-metrics-data'
      - '--retentionPeriod=90d'
      - '--promscrape.config=/etc/victoriametrics/scrape.yml'
      - '--httpListenAddr=:8428'
    networks:
      - {{ observability_stack_network_name }}
    ports:
      - "${HOST_IP}:${VICTORIA_PORT}"

  # ----------------------------------------------------------------
  # LOKI
  # ----------------------------------------------------------------
  loki:
    image: {{ loki_image }}
    container_name: loki
    restart: unless-stopped
    volumes:
      - {{ app_base_dir }}/observability/loki-data:/loki
      - {{ app_base_dir }}/observability/loki-config.yml:/etc/loki/local-config.yaml:ro
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - {{ observability_stack_network_name }}
    ports:
      - "${HOST_IP}:${LOKI_PORT}"

  # ----------------------------------------------------------------
  # GRAFANA
  # ----------------------------------------------------------------
  grafana:
    image: {{ grafana_image }}
    container_name: grafana
    restart: unless-stopped
    volumes:
      - {{ app_base_dir }}/observability/grafana-data:/var/lib/grafana
      - {{ app_base_dir }}/observability/grafana-datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:ro
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_SERVER_ROOT_URL=${GRAFANA_ROOT_URL}
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - {{ observability_stack_network_name }}
    ports:
      - "${HOST_IP}:${GRAFANA_PORT}"

networks:
  {{ observability_stack_network_name }}:
{% if observability_stack_network_external | bool %}
    external: true
{% else %}
    driver: bridge
{% endif %}
