{
  "acls": [
    {
      "action": "accept",
      "src": ["autogroup:admin"],
      "dst": [
        "brain:22",
        "muscle:22",
        "tag:brain:22",
        "tag:brain:9000",
        "tag:brain:9443",
        "tag:brain:3000",
        "tag:brain:8428",
        "tag:brain:3100"
      ]
    },
    {
      "action": "accept",
      "src": ["tag:brain"],
      "dst": [
        "tag:muscle:22",
        "tag:muscle:9100",
        "tag:muscle:8080",
        "tag:muscle:{{ tailscale_metrics_port }}"
      ]
    },
    {
      "action": "accept",
      "src": ["tag:muscle"],
      "dst": [
        "tag:brain:8000",
        "tag:brain:9100",
        "tag:brain:8080",
        "tag:brain:{{ tailscale_metrics_port }}"
      ]
    }
  ],
  "tagOwners": {
    "tag:brain": ["autogroup:admin"],
    "tag:muscle": ["autogroup:admin"]
  },
  "hosts": {
    "brain": "{{ ((hostvars[groups['brain'][0]].ansible_facts | default({})).get('ansible_tailscale0', {}).get('ipv4', {}).get('address')) | default(hostvars[groups['brain'][0]].ansible_host, true) }}",
    "muscle": "{{ ((hostvars[groups['muscle'][0]].ansible_facts | default({})).get('ansible_tailscale0', {}).get('ipv4', {}).get('address')) | default(hostvars[groups['muscle'][0]].ansible_host, true) }}"
  }
}